<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" class="bigger" class="mat-typography">
  <header>
    <div fxLayoutAlign="start center" fxLayout="column">
      <h1 class="mat-h1">
          What's in peoples minds
      </h1>
    </div>
  </header>

  <app-input (textChanger)="getTweets($event)" fxLayoutAlign="start center" fxLayout="column"> </app-input>

  <!-- <div class="margin-top-20" fxLayoutAlign="start center" fxLayout="column">
    <p>Overall score</p>
      <mwl-gauge
      #gauge
      [max]="100"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      *ngIf="overallScore$ | async as score"
      [value]="score"
      [valueClass]="score < 50 ? 'gauge-red' : 'gauge-green'"
      [animated]="true"
      [animationDuration]="1"
      >
    </mwl-gauge>
  </div> -->

  <div fxLayout="row" class="margin-top-20">
    <app-tweet-output-list title="Positive Tweets" fxFlex="grow" [tweetArray]="positiveTweets$ | async">
    </app-tweet-output-list>

    <app-tweet-output-list title="Negative Tweets" fxFlex="grow" [tweetArray]="neagativeTweets$ | async">
    </app-tweet-output-list>
  </div>
</div>
